<div>
  <app-navbar [title]="'Quản lý sản phẩm'"></app-navbar>
  <div class="bg-white rounded-xl overflow-hidden p-5">
    <div class="flex justify-end pb-2 mb-4 border-b border-gray-300">
      <button routerLink="/admin/products/add" class="py-2 px-3 bg-red-500 text-white rounded uppercase">Thêm sản phẩm
      </button>
    </div>
    <table class="w-full border-collapse border-white">
      <thead class="text-left">
      <tr>
        <th class="font-medium uppercase">Ảnh sản phẩm</th>
        <th class="font-medium uppercase">Tên sản phẩm</th>
        <th class="font-medium uppercase col-span-2">Giá</th>
        <th class="font-medium uppercase text-end">Thao tác</th>
      </tr>
      </thead>
      <tbody *ngIf="pageProduct$ | async as page">
      <tr [id]="product.id" *ngFor="let product of page.products" class=" border-gray-200 border-b last:border-none ">
        <td>
          <div class="w-[80px]">
            <img class="my-2 rounded" [src]="product.images[0].src" alt="">
          </div>
        </td>
        <td class="w-fit">
          <span class="font-mtd text-lg">{{product.name}}</span>
        </td>
        <td class="font-medium">
          {{product.price | currency : 'VND'}}
        </td>
        <td class="text-end">
          <div class="flex items-center justify-end gap-5">
            <span routerLink="/admin/products/update/{{product.id}}" class="material-symbols-outlined cursor-pointer">contract_edit</span>
            <span (click)="deleteProduct(product)" class="material-symbols-outlined cursor-pointer">delete</span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="totalPages > 1" class="flex justify-center my-5">
      <app-pagination [currentPage]="currentPage" [totalPages]="totalPages"
                      (pageEmit)="currentPageChanged($event)"></app-pagination>
    </div>
  </div>

</div>
