<div>
  <app-navbar [title]="'Quản lý sản phẩm'"></app-navbar>
  <div class="bg-white rounded-xl overflow-hidden p-5">
    <div class="flex justify-end pb-2 mb-4 border-b border-gray-300">
      <button class="py-2 px-2 bg-gray-200 rounded uppercase">Thêm sản phẩm</button>
    </div>
    <table class="w-full border-collapse border-white">
      <thead class="text-left">
      <tr >
        <th class="font-medium uppercase">Ảnh sản phẩm</th>
        <th class="font-medium uppercase">Tên sản phẩm</th>
        <th class="font-medium uppercase col-span-2">Giá</th>
        <th class="font-medium uppercase text-end">Thao tác</th>
      </tr>
      </thead>
      <tbody *ngIf="pageProduct$ | async as page" >
      <tr *ngFor="let product of page.products" class=" border-gray-200 border-b last:border-none ">
        <td>
          <img class="w-[60px] my-2 rounded-lg" [src] = "product.images[0].src" alt="">
        </td>
        <td class="w-fit">
          <span class="font-mtd text-base">{{product.name}}</span>
        </td>
        <td class="font-medium">
          {{product.price | currency : 'VND'}}
        </td>
      </tr>
      </tbody>
    </table>
    <div  *ngIf="totalPages > 1" class="flex justify-center my-5">
      <app-pagination [currentPage]="currentPage" [totalPages]="totalPages"></app-pagination>
    </div>
  </div>

</div>
