<div>
  <app-navbar [title]="'Thêm sản phẩm mới'"></app-navbar>
  <div class="bg-white rounded-xl overflow-hidden p-5 min-h-[80vh]">
    <form class="w-full" #f="ngForm" (ngSubmit)="submit(f)">
      <div class="flex justify-between gap-2 ">
        <div class="w-1/2">
          <input type="text" ngModel name="productName" placeholder="Tên sản phẩm"
                 class="border-gray-300 border w-full outline-none rounded py-1 px-3 focus:border-gray-500 transition-all">
        </div>
        <div class="w-1/2">
          <input type="number" ngModel name="productPrice"  placeholder="Giá sản phẩm"
                 class="border-gray-300 border w-full outline-none rounded py-1 px-3 focus:border-gray-500 transition-all">
        </div>
      </div>
      <div class="flex justify-between gap-2 mt-2">
        <div class="w-1/2 relative">
          <input type="button" (click)="isSize = !isSize"
                 [class]="isSize ? 'border-gray-500 text-gray-500' : 'border-gray-300 text-gray-400' "
                 value="Chọn kích cở" class="text-left   border w-full outline-none rounded py-1 px-3  transition-all">
          <ul *ngIf="isSize" class="shadow bg-white rounded absolute w-full z-10 ">
            <li (click)="sizeChanged(size)" *ngFor="let size of sizes"
                class="py-1 px-3 border-b border-gray-200 hover:bg-gray-100">{{size}}</li>
          </ul>
        </div>
        <div class="w-1/2 relative">
          <input (click)="isColor = !isColor"
                 [class]="isColor ? 'border-gray-500 text-gray-500' : 'border-gray-300 text-gray-400' " type="button"
                 value="Chọn màu sắc" class="text-left   border w-full outline-none rounded py-1 px-3  transition-all">
          <ul *ngIf="isColor" class="shadow bg-white rounded absolute w-full">
            <li (click)="colorChanged(color)" *ngFor="let color of colors"
                class="py-1 px-3 border-b border-gray-200 hover:bg-gray-100">{{color}}</li>
          </ul>
        </div>
      </div>
     <div *ngIf="variantOptions.length > 0">
       <h4 class="mt-5 text-2xl font-mtd">Tùy chọn</h4>
       <table class="w-full text-gray-700 shadow">
         <thead class="">
         <tr>
           <th class="font-medium w-4/12">Màu sắc</th>
           <th class="font-medium w-4/12">Kích Cở</th>
           <th class="font-medium w-4/12">Hủy</th>
         </tr>
         </thead>
         <tbody>
         <tr *ngFor="let option of variantOptions" class="border-b border-gray-200 text-center">
           <td>{{option.color}}</td>
           <td>{{option.size}}</td>
           <td><span class="cursor-pointer inline-block py-3" (click)="deleteOption(option)">X</span></td>
         </tr>
         </tbody>
       </table>
     </div>
      <div *ngFor="let color of optionImage">
        <h4>Chọn ảnh cho màu {{color}}</h4>
        <input type="file" name="{{color}}" (change)="onFilesSelected($event)" multiple maxlength="4">
      </div>
      <div class="flex justify-center items-center my-2">
        <button type="submit" class="p-2 bg-red-500 text-white font-base rounded">Thêm sản phẩm</button>
      </div>
    </form>
  </div>

</div>
