<div>
  <app-navbar [title]="product.id != 0 ? 'Cập nhập sản phẩm' : 'Thêm mới sản phẩm'"></app-navbar>
  <div class="bg-white rounded-xl overflow-hidden p-5 min-h-[80vh]">
    <form class="w-full" #f="ngForm" (ngSubmit)="submit(f)">
      <div class="flex justify-between gap-2 ">
        <mat-form-field class="w-1/2">
          <mat-label>Tên sản phẩm</mat-label>
          <input matInput required [(ngModel)]="product.name" name="productName" placeholder="Nhập tên sản phẩm">
        </mat-form-field>
        <mat-form-field class="w-1/2">
          <mat-label>Giá sản phẩm</mat-label>
          <input matInput [(ngModel)]="product.price"  required name="productPrice" placeholder="Nhập giá sản phẩm">
        </mat-form-field>
      </div>
      <div class="flex justify-between gap-2 mt-2">
        <mat-form-field class="w-1/2">
          <mat-label>Chọn kích cở</mat-label>
          <mat-select required [formControl]="sizesControl" multiple>
            <mat-option (click)="generateOptions()" *ngFor="let size of sizes" [value]="size">{{size}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-1/2">
          <mat-label>Chọn màu sắc</mat-label>
          <mat-select required [formControl]="colorsControl" multiple>
            <mat-option (click)="generateOptions()" *ngFor="let color of colors" [value]="color">{{color}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="flex justify-between gap-2">
        <mat-form-field class="w-1/2">
          <mat-label>Chọn danh mục</mat-label>
          <mat-select required [(value)]="currentCategory.name">
            <mat-option (click)="currentCategory = category" *ngFor="let category of categories$ | async"
                        [value]="category.name">
              {{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-tab-group>
        <mat-tab label="Tùy chọn">
          <div *ngIf="variantOptions.length > 0" class="mt-5">
            <table class="w-full text-gray-700">
              <thead class="">
              <tr>
                <th class="font-medium w-4/12">Màu sắc</th>
                <th class="font-medium w-4/12">Kích Cở</th>
                <th class="font-medium w-4/12">Hủy</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let option of variantOptions" class="border-b border-gray-200 text-center">
                <td>{{option.color}}</td>
                <td>{{option.size}}</td>
                <td><span class="cursor-pointer inline-block py-3" (click)="deleteOption(option)">X</span></td>
              </tr>
              </tbody>
            </table>
          </div>
        </mat-tab>
        <mat-tab label="Ảnh sản phẩm">
          <ng-container *ngFor="let color of optionImage" >
            <h4 class="m-0">Chọn ảnh cho màu {{color}}</h4>
            <div  class="border-dashed border-blue-500 border flex  w-full my-5 p-5 cursor-pointer" (click)="openFileInput(color); $event.stopPropagation()">
             <div>
               <ng-container>
                 <h4 class="m-0" *ngIf="getProductImagesByColor(color).length > 0">Ảnh cũ</h4>
                 <div class="flex gap-2">
                   <div class="w-[120px] relative" *ngFor="let extImage of getProductImagesByColor(color)">
                     <img  [src]="extImage.src" alt class="w-full h-full">
                     <span (click)="deleteExtImage(extImage.id); $event.stopPropagation()" class="absolute bg-red-500 top-0 right-0 p-1 text-white cursor-pointer">x</span>
                   </div>
                 </div>
               </ng-container>
               <ng-container *ngIf="imagesForColor.get(color) as imagesSelected">
                 <h4 class="mt-5">Ảnh mới</h4>
                 <div class="flex gap-2">
                   <div class="w-[120px] relative" *ngFor="let imgFile of imagesSelected">
                     <img [id]="imgFile.name" src="" alt="" #imageElement class="w-full h-full">
                     <span (click)="deleteImage(imgFile, color); $event.stopPropagation()" class="absolute bg-red-500 top-0 right-0 p-1 text-white cursor-pointer">x</span>
                   </div>
                 </div>
               </ng-container>
               <input [id]="'inputFile' + color" type="file" class="hidden" name="{{color}}" (change)="onFilesSelected($event)" multiple accept="image/jpeg, image/png, image/webp">
             </div>
            </div>
          </ng-container>
        </mat-tab>
      </mat-tab-group>
      <div class="flex justify-center items-center mt-20">
        <button type="submit" class="py-2 px-3 bg-red-500 text-white rounded uppercase">{{product.id != 0 ? 'Cập nhập sản phẩm' : 'Thêm mới sản phẩm'}}</button>
      </div>
    </form>
  </div>

</div>
