<div >
  <a  class="block rounded-2xl overflow-hidden"  routerLink="/san-pham/{{product.id}}" >
    <img
      src="{{product.images[0].src}}"
      alt="">
  </a>
  <a href="" class="block w-64 truncate font-mtd text-lg mt-2">{{product.name}}</a>
  <div class="flex ">
    <span *ngFor="let color of variants" [style.background-color]="color" class="block w-8 h-8 border border-gray-300 rounded-full  mx-1"></span>

  </div>
  <span class="mt-3 block">{{product.price | currency : 'VND'}}</span>
</div>
