<footer class="flex bg-red-200 justify-center items-center">
  <div  class="w-11/12 flex justify-center py-20">
    <div class="main-container">
      <div class="w-[160px]">
        <a href="" class="block">
          <img src="https://theme.hstatic.net/1000197303/1000796534/14/logo.png?v=5591" alt="">
        </a>
      </div>
      <div class="grid grid-cols-5 mt-5 gap-5">
        <div>
          <div class="text-lg">Về chúng tôi</div>
          <ul class="">
            <li class="py-1">Giới thiệu MARC</li>
            <li class="py-1">Tuyển dụng</li>
            <li class="py-1">Cảm hứng thời trang</li>
            <li class="py-1">Nhượng quyền thương hiệu</li>
            <li class="py-1">Khách hàng thân thiết</li>
            <li class="py-1">Chích sách giao hàng</li>
            <li class="py-1">Chính sách bảo hành</li>
          </ul>
        </div>
        <div>
          <div class="text-lg">Hỗ trợ khách hàng</div>
          <ul>
            <li class="py-1"><a href="">Liên hệ đến MARC</a></li>
            <li class="py-1"><a href="">Câu hỏi thường gặp</a></li>
            <li class="py-1"><a href="">Hướng dẫn tạo tài khoản</a></li>
            <li class="py-1"><a href="">Hướng dẫn đặt hàng </a></li>
            <li class="py-1"><a href="">Mua Online nhận tại cửa hàng</a></li>
            <li class="py-1"><a href="">Hướng dẫn mua trước trả sau</a></li>
            <li class="py-1"><a href="">Quy định và hướng dẫn đổi trả hàng</a></li>
            <li class="py-1"><a href="">Hướng dẫn đánh giá sản phẩm</a></li>
            <li class="py-1"><a href="">Hướng dẫn xem và đổi điểm thuưởng</a></li>
            <li class="py-1"><a href="">Hướng dẫn mua hàng online giao GrabExpress</a></li>
          </ul>
        </div>
        <div>
          <div class="text-lg">Liên hệ</div>
          <ul>
            <li class="py-2">Đặt hàng trực tuyến (8h-12h)</li>
            <li class="font-bold py-2">1900 636940</li>
            <li class="py-2"> CSKH (8h-21h)</li>
            <li class="underline" ><a href="">marcsalesonline@gmail.com</a></li>
          </ul>
        </div>
        <div class="col-span-2">
          <div class="text-lg"> Đăng ký thông tin khuyến mãi</div>
          <p>Hãy nhập email của bạn vào đây để nhận được xu hướng thời trang và khuyến mãi mới nhất từ MARC nhé.</p>
          <div>
            <input type="text" class="border-gray-700 border-b w-full  bg-transparent outline-none" placeholder="Nhập email của bạn">
            <button type="button" class="bg-gray-400 rounded px-2 py-1 mt-2 ">Đăng ký</button>
            <div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
