<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="flex justify-center mt-5">
  <div class="main-container text-center">
    <h1 class="font-mtd text-3xl">Đăng ký</h1>
    <div class=" flex flex-col items-center">
      <input ngModel placeholder="Họ" name="firstName" class="text-base  outline-none  mt-5 w-1/3  border-b-2 border-b-gray-500">
      <input ngModel placeholder="Tên" name="lastName" class="text-base  outline-none  mt-5 w-1/3 border-b-2 border-b-gray-500">
      <input ngModel placeholder="Tài khoản" name="username" class="text-base  outline-none mt-5 w-1/3  border-b-2 border-b-gray-500">
      <input ngModel placeholder="Mật khẩu" name="password" class="text-base  outline-none mt-5 w-1/3  border-b-2 border-b-gray-500">
    </div>
    <button type="submit" class="mt-5 font-medium text-amber-800 text-lg ">Đăng ký</button>
    <div class="my-5"><a routerLink="/login" class="font-medium">Đăng nhập</a></div>
  </div>
</form>
