<div>
  <table class="w-full bg-white border-collapse border-white border-8 rounded rounded-xl">
    <thead class="text-left">
    <tr>
      <th class="font-medium uppercase">Ảnh sản phẩm</th>
      <th class="font-medium uppercase">Tên</th>
      <th class="font-medium uppercase col-span-2">Giá</th>
      <th class="font-medium uppercase">Thao tác</th>
    </tr>
    </thead>
    <tbody>
      <tr class=" border-gray-200 border-b ">
        <td>
          <img class="w-[60px] my-2 rounded" src="https://product.hstatic.net/1000197303/product/pro_xanh_duong_1_b034de4627564908bec7480a6f462a03_1024x1024.jpg" alt="">
        </td>
        <td class="w-fit">
         <span> Áo 2 dây linen form rộng phối bèo ngực</span>
        </td>
      </tr>
      <tr class="border-b-gray-200 border-b">
        <td>
          <img class="w-[60px] my-2 rounded" src="https://product.hstatic.net/1000197303/product/pro_xanh_duong_1_b034de4627564908bec7480a6f462a03_1024x1024.jpg" alt="">
        </td>
        <td>
          <span> Áo 2 dây linen form rộng phối bèo ngực</span>
        </td>
      </tr>
    </tbody>
  </table>

</div>
