<div class="mt-10" [class] = "display">
  <app-product-item *ngFor="let product of products " [product]="product">
    <a  class="block rounded-2xl overflow-hidden"  routerLink="/san-pham/{{product.id}}" >
      <img
        src="{{product.images[0].src}}"
        alt="">
    </a>
    <a href="" class="block w-64 truncate text-lg mt-2">{{product.name}}</a>
    <div class="flex ">
      <span class="block w-8 h-8 rounded-full bg-red-400 mx-1"></span>
      <span class="block w-8 h-8 rounded-full bg-green-400 mx-1"></span>
      <span class="block w-8 h-8 rounded-full bg-blue-400 mx-1"></span>
      <span class="block w-8 h-8 rounded-full bg-yellow-400 mx-1"></span>
    </div>
    <span class="mt-3 block">{{product.price | currency : 'VND'}}</span>
  </app-product-item>
</div>
